$font-size: 16px;

$color-text: #444;
$color-text-blue: #65A5D1;
$color-bg: #03406A;
$color-blue: #24577B;
$color-sky: #002d2d;
$color-main: #0A64A4;
$color-white: #fff;
$color-danger: #dc3545;

.color-white {
    color: $color-white;
}

.color-danger {
    color: $color-danger;
}

html {
    font-size: $font-size;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

* {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

p {
    margin: 0 0 12px;
    padding: 0;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    margin: 16px 0 7px;
    font-size: 51px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: $color-white;
}

.sub-title {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 14px 90px;
    font-size: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: $color-text;
}

.search-wrapper {
    background: $color-sky;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 8% 40px;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.header {
    &__logo {
        width: 450px
    }
}

.form {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 4px 4px;
    border-radius: 16px;
}

.button {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    color: $color-blue;
    background: $color-white;
    border-radius: 5px;
    transition: all 0.1s ease-in;

    &:hover {
        background: lighten($color-bg, 40%);
        color: $color-white;
    }
}

.search-input {
    border: 1px solid transparent;
    background: $color-white;
    border-radius: 5px;
    color: $color-bg;
    width: 100%;
    font-size: 20px;
    padding: 8px 12px 8px 37px;
    line-height: 22px;
    outline: none;

    &::placeholder {
        color: lighten($color-text, 20%);
    }

    &.is-invalid {
        border-color: $color-danger;
    }

    &__error-text {
        position: absolute;
        bottom: -18px;
        left: 6px;
    }
}

.search-button {
    margin-left: 20px;
    cursor: pointer;
}

.search-icon {
    position: relative;
    right: -30px;
    font-size: 41px;
    margin-top: 2px;
    line-height: 30px;
    transform: rotateY(180deg);
    color: #AAAAAA;
    width: 0;
}

.search-result {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 23%);
    justify-content: space-between;

    &__card {
        display: flex;
        background: rgb(231, 240, 240);
        color: $color-text;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &[href]:hover {
            color: $color-text;
            text-decoration: none;
            background-color: #edfafa;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3) !important;
        }
    }
}

.animate {
    position: absolute;
    left: 0;
    right: 0;
  }

.animate-enter {
    opacity: 0;
    transform: scale(1.1);
  }

.animate-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

.animate-exit {
    opacity: 1;
    transform: scale(1);
}

.animate-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}
